<form [formGroup]='form'>
    <div class="form-group">
        <label for="oldPassword">Old Password</label>
        <input type="text" class="form-control" id="oldPassword" formControlName="oldPassword" />
        <div class="alert alert-danger" *ngIf="oldPassword!.touched && oldPassword!.invalid">
            <div *ngIf="oldPassword!.errors!['required']">Old Password is required.</div>
            <div *ngIf="oldPassword!.errors!['invalidOldPassword']">Old Password is wrong.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="text" class="form-control" id="newPassword" formControlName="newPassword" />
        <div class="alert alert-danger" *ngIf="newPassword!.touched && newPassword!.invalid">
            <div *ngIf="newPassword!.errors!['required']">New Password is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
        <div class="alert alert-danger"
            *ngIf="confirmPassword!.touched && (confirmPassword!.invalid || form.errors && form!.errors!['passwordShouldMatch'])">
            <div *ngIf="confirmPassword!.errors && confirmPassword!.errors!['required']">Confirm Password is required.</div>
            <div *ngIf="confirmPassword!.valid && form.errors && form!.errors!['passwordShouldMatch']">Confirm Password is not correct.</div>
        </div>
    </div>
    <button class="btn btn-primary">Change Password</button>
</form>